{% extends "base.html" %}

{% block title %}事業單位新增{% endblock %} 
{% block head %}事業單位新增{% endblock %}


{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">詳細資訊</h6>
    </div>
    <div class="card-body">
        <form method="post" action={{ url_for('enterprise.update_or_new') }}>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">事業單位編號</label><br>
                        {% if Enterprisedata %}
                            <label>{{ Enterprisedata[1] }}</label>  
                            <input value={{ Enterprisedata[1] }} name = "up_Eid" type = hidden></input>  
                        {% else %}
                            <label>{{ newEid }}</label>
                            <input value={{newEid}} name = "newEid" type = hidden></input>    
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">統一編號</label>
                        {% if Enterprisedata %}
                            <input class="form-control" name="eNo" value="{{ Enterprisedata[2] }}" >
                        {% else %}
                            <input class="form-control "name="eNo" >  
                        {% endif %} 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">* 行業別</label>
                        <select class="form-control" name="inId" required> 
                            <option value="" disabled selected>請選擇行業別...</option>
                            {% for data in industryData %}
                                {% if (Enterprisedata) and (Enterprisedata[0] == data.inId) %}
                                    <option value="{{ Enterprisedata[0] }}" selected>{{ Enterprisedata[8] }}</option>
                                {% else %}
                                    <option value="{{ data.inId }}">{{ data.industryName }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="small mb-1">* 公司名稱</label>
                {% if Enterprisedata %}
                    <input class="form-control" name="eName" value="{{ Enterprisedata[6] }}" required>
                {% else %}
                    <input class = "form-control" name = "eName" required></input> 
                {% endif %} 
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">資本額</label>
                        {% if Enterprisedata %}
                            <input class="form-control" name="eCap" value="{{ Enterprisedata[3] }}">
                        {% else %}
                            <input class = "form-control" name = "eCap"></input>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">代表人</label>
                        {% if Enterprisedata %}
                            <input class="form-control" name="ePri" value="{{ Enterprisedata[4] }}">
                        {% else %}
                            <input class = "form-control" name = "ePri"></input>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="small mb-1">地址</label>
                {% if Enterprisedata %}
                    <textarea class="form-control" rows="2" name="eAddress" value="{{ Enterprisedata[5] }}">{{ Enterprisedata[5] }}</textarea> 
                {% else %}
                    <textarea class="form-control" rows="2" name="eAddress"></textarea> 
                {% endif %}
            </div>
            {% if Enterprisedata %}
                <button class="btn btn-info" type="submit" name="actionType" value="update_finish">修改完成</button>  
            {% else %}
                <button class="btn btn-info" type="submit" name="actionType" value="add">新增資料</button>  
            {% endif %}
            <a href="{{ url_for('enterprise.showEnterprise') }}">
                <button class="btn btn-info" type="button">回上一頁</button>
            </a>
        </form>        
    </div>
{% endblock %}