{% extends "base.html" %} 
{% block title %}事業單位管理{% endblock %} 
{% block head %}事業單位管理{% endblock %}

{% block content %}

<link 
    href={{url_for('static',filename = 'vendor/datatables/dataTables.bootstrap4.min.css')}}
    rel="stylesheet">

<p class="mb-4">資料來源：勞動部職業災和記載列表</p>
{% if (user.role == 1 )%}
    <form method="get" action={{ url_for('enterprise.update') }}>
        <button class="btn btn-info" type="submit" name="add" value="add">
            新增事業單位資料
        </button>
        </form>
    <br><br>
{% endif %}


<div class="card mb-4 py-3 border-left-primary">
    <div class="card-body">
        <form method="post" action={{ url_for('enterprise.search') }}>
            <div class="form-group">
                <label class="small mb-1">
                    <text>事業單位編號</text>
                </label>
                <input class="form-control" type="label-text" name="eId_search">
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            <text>統一編號</text>
                        </label><br>
                        <input class="form-control" type="label-text" name="eNo_search">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            <text>公司名稱</text>
                        </label><br>
                        <input class="form-control" type="label-text" name="eName_search">                
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            <text>資本額</text>
                        </label><br>
                        <input class="form-control" type="label-text" name="eCap_search">                
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            <text>代表人</text>
                        </label><br>
                        <input class="form-control" type="label-text" name="ePr_search">                
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            <text>地址</text>
                        </label><br>
                        <input class="form-control" type="label-text" name="eAdd_search">                
                    </div>
                </div>
				<div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            <text>行業別</text>
                        </label><br>
                        <select class="form-control" name="inName_search"> 
                            <option value="" disabled selected>請選擇行業別...</option>
                            {% for data in industryData %}
                                <option value="{{ data.industryName }}">{{ data.industryName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <button 
            style = "margin:0% 2% 0% 2%;"
            class="btn btn-info" 
            type="submit" 
            name="search">
            搜尋事業單位
        </button>
    </form>
</div>


<script type="text/javascript">
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">事業單位列表</h6>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <form  method='post'>
                <table class="table table-bordered" id="enterpriseTable" width="100%" cellspacing="0">
					<thead>
						<tr>
						  <th scope="col">序號</th>
						  <th scope="col">統一編號</th>
						  <th scope="col">公司名稱</th>
						  <th scope="col">資本額</th>
						  <th scope="col">代表人</th>
						  <th scope="col">地址</th>
						  <th scope="col">行業別</th>
                          {% if (user.role == 1 )%}  
						  <th scope="col">修改</th>
                          <th scope="col">刪除</th>
                          {% endif %}
						</tr>
					  </thead>
					  <col width="5%"/>
						<col width="8%"/>
						<col width="20%"/>
						<col width="9%"/>                  
						<col width="7%"/>                  
						<col width="25%"/>                  
						<col width="16%"/>  
                        {% if (user.role == 1 )%}                  
						<col width="5%"/>
                        <col width="5%"/>
                        {% endif %}
						<tbody>
							{% for enterprise in enterpriseData %}
							<tr>
							  <td>{{ enterprise.count }}</td>
							  <td> {{ enterprise.enterpriseNo }}</td>
							  <td> {{ enterprise.enterpriseName }}</td>
							  <td> {{ enterprise.capital }}</td>
							  <td> {{ enterprise.principal }}</td>
							  <td> {{ enterprise.address }}</td>
							  <td> {{ enterprise.industryType }}</td>
                              {% if (user.role == 1 )%}  
                                <td><button class="btn btn-info" type="submit" name="edit" value={{ enterprise.eid }}><i class='fa fa-edit'></i></button></td>
                                <td> <button class="btn btn-danger" type="submit" value={{enterprise.eid}} name="delete" onclick="return (confirm('刪除後無法復原，您確定要刪除「 {{ enterprise.公司名稱 }} 」的資料嗎？'))"><i class='fa fa-trash-alt'></i></button></td>	
                                </tr>
                             {% endif %}
							{% endfor %}
						</tbody>
				</table>
            </form>
        </div>
    </div>
</div>
{% endblock %}