{% extends "base.html" %} {% block title %}Login{% endblock %}
{% block content %}
<div class="card mb-4 py-3 border-left-primary">
    <div class="card-body">
		<form method="POST">
			<h3 align="center">登入</h3>
			<div class="form-group">
			  <label for="account">帳號</label>
			  <input
				type="account"
				class="form-control"
				id="account"
				name="account"
				placeholder = "請輸入帳號" 
				maxlength=20
				onkeyup="this.value=this.value.replace(/[\u4e00-\u9fa5]/g,'')" required
			  />
			</div>
			<div class="form-group">
			  <label for="password">密碼</label>
			  <input
				type="password"
				class="form-control"
				id="password"
				name="password"
				placeholder="請輸入密碼" 
				maxlength=20 required
			  />
			</div>
			<br />
			<button type="submit" class="btn btn-info">登入</button>
		  </form>
	</div>
</div>

{% endblock %}