{% extends "base.html" %}


{% block title %}
    {% if data %}職災編輯{% else %}職災新增{% endif %}
{% endblock %} 

{% block head %}
    {% if data %}職災編輯{% else %}職災新增{% endif %} 
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">詳細資訊</h6>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">職災編號</label><br>                        
                        {% if data %}
                            <label>{{ data.wid }}</label>  
                        {% else %}
                            <label>* 未生成</label>  
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">發生時間</label><br>                        
                        {% if data %}
                            <input class="form-control" type="date" name="wdate" value="{{ data.wdate }}" required>
                        {% else %}
                            <input class="form-control" type="date" name="wdate" required>  
                        {% endif %}                      
                    </div>
                </div>
            </div>
            <hr>

            <div class="form-group">
                <label class="small mb-1">
                    <text>工程名稱</text>
                </label><br>  
                       
               
                <select class="form-control" name="pid" required>
                    <option value="" disabled selected>請選擇工程名稱...</option>
                    {% for info in project_data %}
                        {% if (data) and (info.pid == data.pid) %}
                            <option value="{{ info.pid }}" selected>{{ info.projectname }}</option>
                        {% else %}
                            <option value="{{ info.pid }}">{{ info.projectname }}</option>
                        {% endif %}
                    {% endfor %}
                </select>    
                
                <!-- todo: 還沒辦法隱藏VAlue -->
                 <!-- 
                <input type="text" name="pid" list="pidName" class="form-control">
                <datalist id="pidName">
                    <option value="" disabled selected>請選擇工程名稱...</option>
                    {% for info in project_data %}
                        <option value="{{ info.pid }}">{{ info.projectname }}</option>
                    {% endfor %}
                </datalist>
            --> 
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            * <text>職災類型</text>
                        </label><br>
                        <select class="form-control" name="iid" required> 
                            <option value="" disabled selected>請選擇職災類型...</option>
                            {% for info in injurytype_data %}
                                {% if (data) and (info.iid == data.iid) %}
                                    <option value="{{ info.iid }}" selected>{{ info.injuryname }}</option>
                                {% else %}
                                    <option value="{{ info.iid }}">{{ info.injuryname }}</option>
                                {% endif %}
                            {% endfor %}

                        </select> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            <text>罹災人數</text>
                        </label><br>
                            {% if data %}
                                <input class="form-control" name="num" type="number" min="1" value="{{ data.num }}" required>
                            {% else %}
                                <input class="form-control" name="num" type="number" min="1" required>  
                            {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            * <text>事業單位</text>
                        </label><br>
                        <select class="form-control" name="eid" required>
                            <option value="" disabled selected>請選擇事業單位...</option>
                            {% for info in enterprise_data %}
                                {% if (data) and (info.eid == data.eid) %}
                                    <option value="{{ info.eid }}" selected>{{ info.enterprisename }}</option>
                                {% else %}
                                    <option value="{{ info.eid }}">{{ info.enterprisename }}</option>
                                {% endif %}
                            {% endfor %}
                        </select> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1">
                            <text>* 勞動檢查機構</text>
                        </label><br>
                         <select class="form-control" name="agencyname" required>
                            <option value="" disabled selected>請選擇勞動檢查機構...</option>
                            {% for info in agency_data %}
                                {% if (data) and (info.agencyname == data.agencyname) %}
                                    <option value="{{ info.agencyname }}" selected>{{ info.agencyname }}</option>
                                {% else %}
                                    <option value="{{ info.agencyname }}">{{ info.agencyname }}</option>
                                {% endif %}
                            {% endfor %}
                        </select> 
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="small mb-1">
                    <text>肇事位置</text>
                </label>
                    {% if data %}
                        <textarea class="form-control" rows="2" name="location">
                            {{ data.location if data.location is not none }}
                        </textarea>
                    {% else %}
                        <textarea class="form-control" rows="2" name="location"></textarea>
                    {% endif %}
            </div>

            <div class="form-group">
                <label class="small mb-1">
                    <text>肇事地址</text>
                </label>                                                    
                    {% if data %}
                        <textarea class="form-control" rows="2" name="address">
                            {{ data.address if data.address is not none }}
                        </textarea> 
                    {% else %}
                        <textarea class="form-control" rows="2" name="address"></textarea>
                    {% endif %}
            </div>

            <div class="form-group">
                <label class="small mb-1">
                    <text>備註</text>
                </label>
                    {% if data %}
                        <textarea class="form-control" rows="2" name="note">
                            {{ data.note if data.note is not none }}
                        </textarea>
                    {% else %}
                        <textarea class="form-control" rows="2" name="note"></textarea>
                    {% endif %}
            </div>     
            
            {% if data %}
                <button class="btn btn-info" type="submit" name="submitBtn" value="edit">編輯資料</button>
            {% else %}
                <button class="btn btn-info" type="submit" name="submitBtn" value="add">新增資料</button>
            {% endif %}

            <a href="{{ url_for('views.index') }}">
                <button class="btn btn-info" type="button">回上一頁</button>
            </a>
        </form>        
    </div>    
{% endblock %}